In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pyarrow.parquet as pq
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

        # Dataset path from kagglehub
base_path = "/kaggle/input/bitblenders-007/"
save_path = "/kaggle/working/"

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bitblenders-007/test_data.parquet
/kaggle/input/bitblenders-007/add_event.parquet
/kaggle/input/bitblenders-007/685404e30cfdb_submission_template.csv
/kaggle/input/bitblenders-007/data_dictionary.csv
/kaggle/input/bitblenders-007/offer_metadata.parquet
/kaggle/input/bitblenders-007/add_trans.parquet
/kaggle/input/bitblenders-007/train_data.parquet

In [29]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("stacky123/bitblenders-007")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/bitblenders-007

In [30]:
import pandas as pd
import os

train_df = pd.read_parquet('/kaggle/input/bitblenders-007/train_data.parquet')
train_df

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,28.0,0.0,0.0,337.0,0.0,0.0
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,87.0,0.0,0.0,1010.0,2.0,0.0019801980198019
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,23.0,0.0,0.0,1010.0,2.0,0.0019801980198019
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,277.0,1.0,0.003610108303249,337.0,0.0,0.0
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,359.0,0.0,0.0,337.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770159,1896641_87731_16-23_2023-11-02 08:14:21.524,1896641,87731,2023-11-02 08:14:21.524,2023-11-02,0,None,None,None,None,...,0.0021005417064525,0.0404038812929242,0.0,None,90.0,1.0,0.0111111111111111,282.0,1.0,0.0035460992907801
770160,1896641_505604_16-23_2023-11-02 08:14:24.458,1896641,505604,2023-11-02 08:14:24.458,2023-11-02,0,None,None,None,None,...,-0.0005843979733278,0.0506497784165768,0.0,None,33.0,0.0,0.0,58.0,1.0,0.0172413793103448
770161,1896641_25212_16-23_2023-11-02 08:14:25.748,1896641,25212,2023-11-02 08:14:25.748,2023-11-02,0,None,None,None,None,...,0.0003542232402053,0.0498707994939233,0.0,None,33.0,0.0,0.0,58.0,1.0,0.0172413793103448
770162,1900765_95157_16-23_2023-11-02 06:08:25.900,1900765,95157,2023-11-02 06:08:25.900,2023-11-02,0,None,None,None,None,...,None,None,0.0,None,None,None,None,None,None,None
770163,1901215_95807_16-23_2023-11-01 11:01:33.086,1901215,95807,2023-11-01 11:01:33.086,2023-11-01,0,None,None,None,None,...,0.0019765467059986,0.0484378523042536,0.0,None,None,None,None,None,None,None

In [31]:
# Load metadata columns (id1 to id5, and target y)
meta_cols = ['id1', 'id2', 'id3', 'id4', 'id5', 'y']
df_meta = pq.read_table(base_path + 'train_data.parquet', columns=meta_cols).to_pandas()

# Convert to datetime
df_meta['id4'] = pd.to_datetime(df_meta['id4'], errors='coerce')
df_meta['id5'] = pd.to_datetime(df_meta['id5'], errors='coerce')

# Save cleaned metadata
df_meta.to_parquet(save_path + "train_meta_cleaned.parquet", index=False)
print("âœ… Metadata cleaned and saved.")

âœ… Metadata cleaned and saved.

In [32]:
# Loop in batches of 50
for i in range(1, 367, 50):  # f1 to f366
    cols = [f"f{j}" for j in range(i, min(i+50, 367))]
    print(f"ðŸ”„ Cleaning columns: {cols[0]} to {cols[-1]}")

    # Load batch
    df_chunk = pq.read_table(base_path + 'train_data.parquet', columns=cols).to_pandas()

    # Replace invalid values with NaN
    df_chunk.replace(['None', None], np.nan, inplace=True)
    df_chunk.replace(-9999.0, np.nan, inplace=True)

    # Convert to numeric (force strings to become NaN)
    df_chunk = df_chunk.apply(pd.to_numeric, errors='coerce')

    # Save this cleaned batch
    out_path = save_path + f"train_clean_f{i}_{i+49}.parquet"
    df_chunk.to_parquet(out_path, index=False)
    print(f"âœ… Saved: {out_path}")

ðŸ”„ Cleaning columns: f1 to f50
âœ… Saved: /kaggle/working/train_clean_f1_50.parquet
ðŸ”„ Cleaning columns: f51 to f100
âœ… Saved: /kaggle/working/train_clean_f51_100.parquet
ðŸ”„ Cleaning columns: f101 to f150

/tmp/ipykernel_35/3884823534.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_chunk.replace(['None', None], np.nan, inplace=True)

âœ… Saved: /kaggle/working/train_clean_f101_150.parquet
ðŸ”„ Cleaning columns: f151 to f200
âœ… Saved: /kaggle/working/train_clean_f151_200.parquet
ðŸ”„ Cleaning columns: f201 to f250
âœ… Saved: /kaggle/working/train_clean_f201_250.parquet
ðŸ”„ Cleaning columns: f251 to f300
âœ… Saved: /kaggle/working/train_clean_f251_300.parquet
ðŸ”„ Cleaning columns: f301 to f350
âœ… Saved: /kaggle/working/train_clean_f301_350.parquet
ðŸ”„ Cleaning columns: f351 to f366
âœ… Saved: /kaggle/working/train_clean_f351_400.parquet

In [33]:
df_check = pd.read_parquet("/kaggle/working/train_clean_f1_50.parquet")
df_check.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f41,f42,f43,f44,f45,f46,f47,f48,f49,f50
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [35]:
# Load all cleaned feature chunks
cleaned_chunks = []

for i in range(1, 367, 50):
    path = f"/kaggle/working/train_clean_f{i}_{i+49}.parquet"
    df_chunk = pd.read_parquet(path)
    cleaned_chunks.append(df_chunk)

# Combine features
df_features = pd.concat(cleaned_chunks, axis=1)

# Merge with cleaned metadata
df_meta = pd.read_parquet("/kaggle/working/train_meta_cleaned.parquet")
df_final = pd.concat([df_meta, df_features], axis=1)

# Save full cleaned data
df_final.to_parquet("/kaggle/working/train_data_cleaned_full.parquet", index=False)
print("ðŸŽ‰ Full cleaned dataset ready!")

ðŸŽ‰ Full cleaned dataset ready!

In [36]:
non_numeric_cols = df_final.select_dtypes(include=['object']).columns
print("Non-numeric columns:", non_numeric_cols)

Non-numeric columns: Index(['id1', 'id2', 'id3', 'y'], dtype='object')

In [37]:
for col in non_numeric_cols:
    df_final[col] = df_final[col].str.replace(r'[^\d.-]', '', regex=True)  # Remove commas, slashes, etc.
    df_final[col] = pd.to_numeric(df_final[col], errors='coerce')

In [38]:
non_numeric_cols = df_final.select_dtypes(include=['object']).columns
print("Non-numeric columns after cleaning:", non_numeric_cols)

Non-numeric columns after cleaning: Index([], dtype='object')

In [39]:
import re

def check_for_unwanted_chars(df, chars=r"[,/\\%]"):
    bad_cols = []
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].str.contains(chars, regex=True).any():
                bad_cols.append(col)
    return bad_cols

unwanted = check_for_unwanted_chars(df_final)
print("Columns with unwanted characters:", unwanted)

Columns with unwanted characters: []

In [40]:
# Drop columns that have only 1 unique non-null value
nunique = df_final.nunique(dropna=True)
constant_cols = nunique[nunique <= 1].index.tolist()

print("Constant columns to drop:", constant_cols)

df_final.drop(columns=constant_cols, inplace=True)

Constant columns to drop: ['id1', 'f14', 'f15', 'f16', 'f17', 'f19', 'f20', 'f21', 'f23', 'f24', 'f25', 'f42', 'f50', 'f52', 'f53', 'f54', 'f55', 'f56', 'f57', 'f62', 'f66', 'f80', 'f88', 'f102', 'f112', 'f122', 'f128', 'f129', 'f135', 'f136', 'f144', 'f145', 'f205', 'f226', 'f229', 'f236', 'f238', 'f240', 'f243', 'f245', 'f246', 'f248', 'f249', 'f258', 'f259', 'f260', 'f262', 'f266', 'f267', 'f268', 'f270', 'f271', 'f277', 'f279', 'f281', 'f286', 'f287', 'f290', 'f291', 'f294', 'f295', 'f298', 'f300', 'f301', 'f303', 'f304', 'f307', 'f308', 'f309', 'f334', 'f335', 'f354', 'f360']

In [41]:
def cap_outliers(df, cols, lower_q=0.01, upper_q=0.99):
    for col in cols:
        if df[col].nunique() <= 1:
            continue
        lower = df[col].quantile(lower_q)
        upper = df[col].quantile(upper_q)
        df[col] = df[col].clip(lower, upper)
    return df

# Apply only to numerical feature columns (starting with 'f')
feature_cols = [col for col in df_final.columns if col.startswith('f')]
df_final = cap_outliers(df_final, feature_cols)

print("âœ… Outliers capped.")

âœ… Outliers capped.

In [42]:
df_final.fillna(df_final.median(numeric_only=True), inplace=True)

In [43]:
print("Final cleaned shape:", df_final.shape)
print(df_final.head())

Final cleaned shape: (770164, 299)
       id2        id3                     id4        id5  y   f1    f2    f3  \
0  1366776  189706075 2023-11-02 22:22:00.042 2023-11-02  0  1.0  31.0  31.0
1  1366776      89227 2023-11-01 23:51:24.999 2023-11-01  0  1.0  31.0  31.0
2  1366776      35046 2023-11-01 00:30:59.797 2023-11-01  0  1.0  31.0  31.0
3  1366776    6275451 2023-11-02 22:21:32.261 2023-11-02  0  1.0  31.0  31.0
4  1366776      78053 2023-11-02 22:21:34.799 2023-11-02  0  1.0  31.0  31.0

     f4    f5  ...      f356      f357         f358  f359   f361  f362  \
0  40.0  34.0  ...  0.002168  0.001305 -9999.000000   0.0   28.0   0.0
1  40.0  34.0  ...  0.002168  0.001305     0.048016   0.0   87.0   0.0
2  40.0  34.0  ...  0.002168  0.001305     0.048016   0.0   23.0   0.0
3  40.0  34.0  ...  0.002168  0.001305 -9999.000000   0.0  277.0   1.0
4  40.0  34.0  ...  0.002168  0.001305 -9999.000000   0.0  359.0   0.0

      f363    f364  f365     f366
0  0.00000   337.0   0.0  0.00000
1  0.00000  1010.0   2.0  0.00198
2  0.00000  1010.0   2.0  0.00198
3  0.00361   337.0   0.0  0.00000
4  0.00000   337.0   0.0  0.00000

[5 rows x 299 columns]

In [44]:
df_final.to_parquet("/kaggle/working/train_data_capped_cleaned.parquet", index=False)

In [45]:
df_final.tail(10)

,id2,id3,id4,id5,y,f1,f2,f3,f4,f5,...,f356,f357,f358,f359,f361,f362,f363,f364,f365,f366
770154,1895178,360183,2023-11-01 10:27:29.657,2023-11-01,0,25.0,31.0,31.0,40.0,6.0,...,0.000833,0.000190,0.054493,0.0,9.0,0.0,0.000000,70.0,0.0,0.000000
770155,1895178,98283,2023-11-01 10:27:29.758,2023-11-01,0,25.0,31.0,31.0,40.0,6.0,...,0.001683,0.002043,0.061726,0.0,2.0,0.0,0.000000,70.0,0.0,0.000000
770156,1895178,566484,2023-11-01 10:27:29.740,2023-11-01,0,25.0,31.0,31.0,40.0,6.0,...,0.003265,0.001226,0.041315,0.0,2.0,0.0,0.000000,70.0,0.0,0.000000
770157,1896641,57888,2023-11-02 08:14:21.510,2023-11-02,0,33.0,31.0,31.0,40.0,42.0,...,0.002104,0.001848,0.045124,0.0,34.0,0.0,0.000000,282.0,1.0,0.003546
770158,1896641,725107,2023-11-02 08:14:24.479,2023-11-02,0,33.0,31.0,31.0,40.0,42.0,...,-0.018528,-0.000608,0.272356,0.0,34.0,0.0,0.000000,58.0,1.0,0.017241
770159,1896641,87731,2023-11-02 08:14:21.524,2023-11-02,0,33.0,31.0,31.0,40.0,42.0,...,0.003209,0.002101,0.040404,0.0,90.0,1.0,0.011111,282.0,1.0,0.003546
770160,1896641,505604,2023-11-02 08:14:24.458,2023-11-02,0,33.0,31.0,31.0,40.0,42.0,...,0.001635,-0.000584,0.050650,0.0,33.0,0.0,0.000000,58.0,1.0,0.017241
770161,1896641,25212,2023-11-02 08:14:25.748,2023-11-02,0,33.0,31.0,31.0,40.0,42.0,...,0.002612,0.000354,0.049871,0.0,33.0,0.0,0.000000,58.0,1.0,0.017241
770162,1900765,95157,2023-11-02 06:08:25.900,2023-11-02,0,33.0,31.0,31.0,40.0,34.0,...,0.002168,0.001305,0.048016,0.0,34.0,0.0,0.000000,261.0,2.0,0.005587
770163,1901215,95807,2023-11-01 11:01:33.086,2023-11-01,0,33.0,31.0,31.0,40.0,34.0,...,0.002936,0.001977,0.048438,0.0,34.0,0.0,0.000000,261.0,2.0,0.005587